* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#container {
  max-width: 100%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
   
}

.image-gallery img {
  max-width: 400px;
  min-height: 200px;
  padding: 0.8rem;
  border-radius: 40px; 
}
